<body>  
    <header>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand"><h2>HACETE UN ASADO</h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav header__lista">
                    <li class="nav-item">
                        <a class="nav-link header__lista__link" > Tienda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header__lista__link" > Fotos </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header__lista__link" > Tips </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link header__lista__link" > Sobre Nosotros </a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </header>
<!--  <main>    
        <section class="imagen__principal mx-auto">
            <img src="recursos/HUA_Logo.png" class="img-fluid " alt="Logo principal">
        </section>
    </main> -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
